// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include sans-serif-font;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 400;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $gray-900;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    color: $black;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include serif-font;
}

section {
  padding: 3rem 0;
}

.section-heading {
  margin-top: 0;
  font-size: 3rem;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

.ceremony {
  background-color: $primary;
  position: relative;
  min-height: 480px;
}
.banqueting {
  background-color: $white;
  background-image: url('../img/villa-ida.jpg');
  background-repeat: no-repeat;
  background-position: center;
  @include background-cover;
  position: relative;
  min-height: 480px;
}
.gift {
  background-color: $white;
  background-image: url('../img/gift.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  @include background-cover;
  position: relative;
  min-height: 667px;
}
.gradient{
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 2%, rgba(255,255,255,0.17) 50%, rgba(236,239,230,0) 60%, rgba(164,178,135,1) 92%, rgba(160,175,130,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(2%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,0.17)), color-stop(60%, rgba(236,239,230,0)), color-stop(92%, rgba(164,178,135,1)), color-stop(100%, rgba(160,175,130,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 2%, rgba(255,255,255,0.17) 50%, rgba(236,239,230,0) 60%, rgba(164,178,135,1) 92%, rgba(160,175,130,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 2%, rgba(255,255,255,0.17) 50%, rgba(236,239,230,0) 60%, rgba(164,178,135,1) 92%, rgba(160,175,130,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 2%, rgba(255,255,255,0.17) 50%, rgba(236,239,230,0) 60%, rgba(164,178,135,1) 92%, rgba(160,175,130,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 2%, rgba(255,255,255,0.17) 50%, rgba(236,239,230,0) 60%, rgba(164,178,135,1) 92%, rgba(160,175,130,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a0af82', GradientType=0 );
}
.gradient2{
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 2%, rgba(255,255,255,0.3) 30%, rgba(236,239,230,0) 70%, rgba(164,178,135,1) 92%, rgba(160,175,130,1) 100%);
  background: -webkit-gradient(left bottom, left top, color-stop(0%, rgba(255,255,255,1)), color-stop(2%, rgba(255,255,255,1)), color-stop(30%, rgba(255,255,255,0.3)), color-stop(70%, rgba(236,239,230,0)), color-stop(92%, rgba(164,178,135,1)), color-stop(100%, rgba(160,175,130,1)));
  background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 2%, rgba(255,255,255,0.3) 30%, rgba(236,239,230,0) 70%, rgba(164,178,135,1) 92%, rgba(160,175,130,1) 100%);
  background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 2%, rgba(255,255,255,0.3) 30%, rgba(236,239,230,0) 70%, rgba(164,178,135,1) 92%, rgba(160,175,130,1) 100%);
  background: -ms-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 2%, rgba(255,255,255,0.3) 30%, rgba(236,239,230,0) 70%, rgba(164,178,135,1) 92%, rgba(160,175,130,1) 100%);
  background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 2%, rgba(255,255,255,0.3) 30%, rgba(236,239,230,0) 70%, rgba(164,178,135,1) 92%, rgba(160,175,130,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0af82', endColorstr='#ffffff', GradientType=0 );
}
a.text-image {
  @include serif-font;
  font-size: 2rem;
  color: $white;
  &:active,
  &:hover {
    color: $white;
  }
}

.map {
  padding-bottom: 0;
  text-align: center;
  *:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .gm-style .gm-style-iw {
    padding: 10px;
    text-align: center;
  }
  .map-info-title {
    margin-bottom: 5px;
    @include sans-serif-font;
  }
  .infoWindow {
    text-align: center;
    @include sans-serif-font;
    padding: 25px inherit;
  }
  input[type="text"]{
    border-radius: 300px;
    border: 2px solid $primary;
    padding: .5rem;
  }
  .map-btn a, input[type="submit"] {
    display: block;
    width: 100%;
    background-color: $primary;
    border-color: $primary;
    color: $white;
    border-radius: 300px;
    padding: .5rem 2rem;
    margin-top: 10px;
    text-transform: uppercase;
    @include transition-all;
    &:hover,
    &:focus,
    &:active {
      color: $white;
      background-color: $black !important;
      box-shadow: none !important;
    }
  }
  #googlemaps {
    width: 100%;
    min-height: 600px;
    background: #fff;
  }
  .markers { visibility: hidden; display: none;}
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-white {
  color: $white;
}

.text-primary {
  color: $primary !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  @include sans-serif-font;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  @include transition-all;
  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: $black !important;
  }
  &:active,
  &:focus {
    box-shadow: none !important;
  }
}

.btn-light {
  background-color: $white;
  border-color: $white;
  @include transition-all;
  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: $black !important;
  }
  &:active,
  &:focus {
    box-shadow: none !important;
  }
}
